body{
   background-color:rgb(224, 221, 232);
   font-family:Lobster, sans-serif;
   color:rgb(2, 4, 63);
   font-size: 30px;
}


input{
   font-size: 20px;
}



#mybutton1{
   background-color:white;
   font-family:Lobster, sans-serif;
   color:rgb(2, 4, 63);
   font-size: 17px;
}

#mybutton1:hover{
   background-color: rgb(227, 167, 227);
}

.mybutton2{
   background-color:white;
   font-family:Lobster, sans-serif;
   color:rgb(2, 4, 63);
   font-size: 17px;
}

.mybutton2:hover{
   background-color: rgb(227, 167, 227);
}

#mybutton3{
   background-color:rgb(224, 221, 232);
   font-family:Lobster, sans-serif;
   color:rgb(2, 4, 63);
   font-size: 17px;
}

#mybutton4{
   background-color:rgb(224, 221, 232);
   font-family:Lobster, sans-serif;
   color:rgb(2, 4, 63);
   font-size: 17px;
}

#mybutton5{
   background-color:rgb(224, 221, 232);
   font-family:Lobster, sans-serif;
   color:rgb(2, 4, 63);
   font-size: 17px;
}
